.nav {
    background-color: rgb(100, 173, 242); /* Background color */
    overflow: hidden; /* Ensure the navigation items stay in the container */
    width: 100%; /* Full width */
}

.nav a {
    float: left; /* Float the links to the left */
    display: block; /* Make the links block elements */
    color: #4a4848; /* Text color */
    text-align: center; /* Center align the text */
    padding: 14px 16px; /* Padding for the links */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.nav a:hover {
    background-color: #ddd; /* Background color on hover */
    color: black; /* Text color on hover */
}

.nav a.active {
    background-color: #4CAF50; /* Active link background color */
    color: white; /* Active link text color */
}

@media screen and (max-width: 600px) {
    .nav a {
        float: none; /* Remove floating on small screens */
        display: block; /* Display links as block elements */
        text-align: left; /* Left align the text */
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a2caf0;
    color: #666; /* Lighter text color */
    text-align: center; /* Center align content */
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #333; /* Darker heading color */
    font-size: 32px;
    margin-bottom: 10px;
}

h3 {
    color: #444; /* Slightly darker heading color */
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h5 {
    color: #555; /* Slightly darker subheading color */
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

ul {
    justify-content: center;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
}

ul li ul {
    margin-top: 5px;
}


